/* Aplica solo a los Select2 que NO estén dentro del modal */
.select2-container--default:not(#modalEdicion .select2-container) .select2-selection--single {
    border: none !important;
    border-bottom: 3px solid blue !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-top: 1px;
}

.select2-container:not(#modalEdicion .select2-container) .select2-selection__rendered {
    color: white !important;
}

/* Aplica solo a los Select2 que NO estén dentro del modal */
#modalEdicion .select2-container--default .select2-selection--single {
    display: flex !important;
    border: none !important;
    border-bottom: solid blue !important;
    width: 70% !important;
    display: block !important;
    position: relative !important;
    left: 17% !important;
    font-size: 30px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    color: black !important;
    text-align: center !important;
    font-size: 1.5vw !important;
    max-width: 500px !important;
    color: black !important;
}



