
.selected {
    background-color: #1fabca !important;
}

select option:disabled {
    color: red; /* Cambiar el color de la letra a rojo */
}

.select2-container--default:not(#productoModal .select2-container) .select2-selection--single {
    border: none !important;
    border-bottom: 3px solid blue !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-top: 1px;
}

.select2-container:not(#productoModal .select2-container) .select2-selection__rendered {
    color: white !important;
}


#productoModal .select2-container--default .select2-selection--single {
    background-color: white !important;
}

#productoModal .select2-container .select2-selection__rendered {
    color: black !important;
}


.lblfiltro {
    margin-left: 0px !important; 
}

.modal-dialog {
    max-width: 100%; /* O ajusta el porcentaje según necesites */
    width: 70%;
}

#productoModal .modal-body {
    background: #353c48;
}

#productoModal .modal-header {
    background: #2a303a;
}

#productoModal .modal-title {
    color: white;
}

#grd_Productos_Modal {
    width: 100%;
}

    #grd_Productos_Modal tbody {
        display: block;
        max-height: 415px;
        overflow-y: auto;
    }

        #grd_Productos_Modal thead,
        #grd_Productos_Modal tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* Evita que las columnas se deformen */
        }




.select2-container {
    flex: 1; /* Hace que Select2 no se expanda demasiado */
}

.select2-selection {
    height: calc(2.25rem + 2px) !important; /* Ajusta la altura al tamaño del input */
}


.selected {
    background-color: #007bff !important; /* Azul Bootstrap */
    color: white !important;
}
