.input-nuevo {
    border: none;
    border-bottom: 2px solid blue;
    width: 100%;
    color: black;
    max-width: 3000px !important;
    text-align: center !important;
    font-size: 0.7vw;
    background: transparent !important;
    color: white !important;
}

.input-nuevo-select {
    border: none;
    border-bottom: 2px solid blue;
    color: white; /* Texto blanco cuando no está desplegado */
    text-align: center !important;
    font-size: 0.8vw;
    background: transparent !important;
}




    .input-nuevo-select option {
        background-color: white !important; /* Fondo del desplegable */
        color: black !important; /* Texto negro en el desplegable */
    }



/* Aplica estilos solo a los Select2 que NO estén dentro del modal #insumosModal */
.select2-container--default:not(#insumosModal .select2-container) .select2-selection--single {
    border: none !important;
    border-bottom: 2px solid red !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    color: white !important;
    margin-top: -6px;
}

    /* Aplica color blanco al texto, excepto en insumoSelect dentro de #insumosModal */
    .select2-container--default:not(#insumosModal .select2-container)
    .select2-selection--single .select2-selection__rendered {
        color: white !important;
        line-height: 28px;
    }



/* Aumenta la altura solo en Select2 dentro del modal #insumosModal */
#insumosModal .select2-container--default .select2-selection--single {
    height: 40px !important; /* Ajusta la altura */
    line-height: 40px !important; /* Centra el texto */
    padding: .300rem .10rem;
    font-size: 1rem;
}

    /* Asegura que el texto dentro del input también se centre */
    #insumosModal .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 28px !important;
    }
