@{
    ViewBag.Title = "Nuevo Pedido";
}

<title>@ViewBag.Title</title>

@section Estilos {


    <link href="~/css/pedidos.css" rel="stylesheet" />
    <link href="~/css/PedidosNuevoModif.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*ESTILOS DE BOTONES*@
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    @*filter columns*@
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

}

<div class="titulopedidoclass">
    <h2 class="titulopedido">Nuevo Pedido</h2>
</div>



<div class="container mt-5 ">



    <!-- Pestañas -->
    <ul class="nav nav-tabs pestaniasDatos" id="myTab" role="tablist">



        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pedido-tab" data-bs-toggle="tab" href="#pedido" role="tab" aria-controls="pedido" aria-selected="true">Datos del Pedido</a>
        </li>
    </ul>

    <!-- Contenido de las pestañas -->
    <div class="tab-content mt-4" id="myTabContent">


        <div class="tab-pane fade show active" id="pedido" role="tabpanel" aria-labelledby="pedido-tab">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Datos del Pedido</h3>
                    <div class="form-container">
                        <div class="form-group">
                            <label for="Fecha">Fecha</label>
                            <input type="date" class="input-nuevo" id="Fecha" name="Fecha">
                        </div>

                        <div class="form-group">
                            <label class="lblfiltro">Cliente</label>
                            <select id="Clientes" name="select" class="input-nuevomodif select-modal-personalizado mt-2">
                                <option value="" selected>Cliente</option>
                            </select>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pestañas -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="productos-tab" data-bs-toggle="tab" href="#productos" role="tab" aria-controls="productos-tab" aria-selected="true">Productos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="cliente-pagos-tab" data-bs-toggle="tab" href="#cliente-pagos" role="tab" aria-controls="cliente-pagos" aria-selected="false">Procesos e Insumos</a>
        </li>
    </ul>

    <!-- Contenido de las pestañas -->
    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="productos" role="tabpanel" aria-labelledby="productos-tab">
            <div class="card mb-12">
                <div class="card-body">
                    <h3 class="card-title">Productos</h3>
                    <table class="display nowrap" id="grd_Productos" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu DataTable de Productos -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger me-2">
                                <i class="fa fa-trash"></i> Eliminar
                            </button>
                            <button type="button" class="btn btn-secondary me-2">
                                <i class="fa fa-pencil"></i> Modificar
                            </button>
                            <button type="button" class="btn btn-success" onclick="anadirProducto()">
                                <i class="fa fa-plus"></i> Añadir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary mt-3">Registrar</button>





        <!-- Modal -->
        <div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productoModalLabel">Añadir Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <!-- Sección izquierda: Lista de productos -->
                                <div class="col-md-6">
                                    <h5 class="text-white">Búsqueda de productos</h5>
                                    <div class="input-group mb-2 flex-nowrap">
                                        <input type="text" id="busqueda" class="form-control" placeholder="Buscar producto">
                                        <select id="Categorias" class="form-select w-auto">
                                            
                                        </select>
                                    </div>


                                    <table class="table table-striped table-hover" id="grd_Productos_Modal" style="width:100%">
                                        <thead>
                                            <tr>

                                                <th>Descripción</th>
                                                <th>Categoría</th>
                                                <th>Precio venta</th>
                                                <th hidden>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Aquí va el contenido de tu datatable -->
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Sección derecha: Producto seleccionado -->
                                <div class="col-md-6">
                                    <h5 class="text-white">Producto seleccionado</h5>
                                    <div class="row mb-2">
                                        <div class="col-md-8">
                                            <label class="form-label">Nombre</label>
                                            <input type="text" class="form-control" id="ProductoModalNombre" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Categoría</label>
                                            <input type="text" class="form-control" id="ProductoModalCategoria" disabled value="">
                                        </div>
                                    </div>

                                    <!-- Fila de precios -->
                                    <div class="row md-6">
                                        <div class="col-md-4">
                                            <label class="form-label">Costo Unitario</label>
                                            <input type="text" class="form-control"  id="ProductoModalCostoUnitario" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">% Ganancia</label>
                                            <input type="text" class="form-control" id="ProductoModalPorcGanancia" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Ganancia</label>
                                            <input type="text" class="form-control"  id="ProductoModalGanancia" disabled>
                                        </div>
                                    </div>

                                    <!-- Segunda fila de precios -->
                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <label class="form-label">% IVA</label>
                                            <input type="text" class="form-control" id="ProductoModalPorcIva" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Total IVA</label>
                                            <input type="text" class="form-control"  id="ProductoModalIva" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Precio de venta</label>
                                            <input type="text" class="form-control text-success fw-bold" id="ProductoModalPrecioVenta" disabled>
                                        </div>
                                    </div>

                                    <!-- Campos de cantidad y color -->
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label class="form-label">Cantidad</label>
                                            <input type="number" class="form-control" id="ProductoModalCantidad">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Color</label>
                                            <select id="Colores" class="form-select">
                                                <option>Seleccione</option>
                                                <option>Blanco</option>
                                                <option>Madera</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Botones -->
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-success me-2">✔ Añadir</button>
                                        <button class="btn btn-secondary">🔙 Volver</button>
                                    </div>

                                    <h5 class="text-white">Insumos del producto</h5>

                                    <table class="table table-striped table-hover" id="grd_Insumos_Modal" style="width:100%">
                                        <thead>
                                            <tr>

                                                <th>Cantidad</th>
                                                <th>Descripción</th>
                                                <th>Categoría</th>
                                                <th>Color</th>
                                                <th>IdColor</th>
                                                <th hidden></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Aquí va el contenido de tu datatable -->
                                        </tbody>
                                    </table>

                                   @*  <div class="table-responsive" >
                                        <table class="table table-striped" id="grd_Insumos_Modal">
                                            <thead>
                                                <tr>
                                                   
                                                    <th>Cantidad</th>
                                                    <th>Descripción</th>
                                                    <th>Categoría</th>
                                                    <th>Color</th>
                                                    <th hidden></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div> *@


                                </div>
                            </div>

                            <div class="d-flex justify-content-end mt-2">
                                <button class="btn btn-danger me-2">❌ Eliminar</button>
                                <button class="btn btn-warning">✏ Modificar</button>
                            </div>
                        </div>

                        <!-- Sección inferior: Insumos del producto -->
                        <div class="row mt-3">
                            <div class="col-6">
                            </div>
                        </div>



                    </div>




                    <partial name="~/Views/Utils/Modals.cshtml" />



                    @section Scripts {

                        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


                        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

                        <script src="~/js/utils/moment.js"></script>
                        <script src="~/js/pedidosnuevomodif.js">

                            <script src="~/js/site.js"></script>

                    }
